.rbt {
  align-self: flex-start;
  #async-example {
    overflow-y: hidden !important
  }
  input {
    height: 100%;
    font-size: $default-font-size;
  }
  a {
    font-size: $small-font-size;
  }
}

.async-autocomplete {
  .MuiOutlinedInput-root {
    background: $color-white;
    fieldset {
      border: none;
    }
  }
}


