.user-management {
  margin-top: 7rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    width: 90%;
    display: flex;
    justify-content: space-between;

    &--board {
      width: 62%;
        &__paper {
          width: 100%;
          margin-bottom: 2rem;
          padding: .5rem;
          &__table {
            transition: .2s all;
            th, td {
              font-size: $small-font-size;
              color: $color-grey-FOUR;
              position: relative;
            }
            thead {
              th {
                font-weight: 600;
              }
            }
            tbody {
              font-size: $small-font-size;
            }

            &__toolbar {
              padding-left: 2rem;
              padding-right: 1rem;
              &--default {}
              &--highlight {
                color: $color-danger;
                background-color: rgba(245, 0, 87, 0.08);
                .toolbar-action-container {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
              }
              .table-title {
                flex: 1 1 100%;
                color: $color-grey-FOUR;
              }
            }
            &__new-access {
             &--no-border {
               border-bottom: none !important;
             }
              button {
                padding: 0;
                &:hover {
                  background-color: transparent !important;
                }
              }
            }
          }
          &__footer {
            display: flex;
            justify-content: flex-start;
            padding: 0 10px 10px 60px;
          }
        }
    }

    &--details {
      width: 20%;
      line-height: 2.5rem;
    }
  }
}

.action-button {
  padding: 0 !important;
}
