.user-management {
  margin-top: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    width: 90%;
    display: flex;
    justify-content: space-between;

    &--board {
      width: 65%;
        &__paper {
          width: 100%;
          margin-bottom: 2rem;

          &__table {
            min-width: 75rem;
            th, td {
              font-size: $small-font-size;
              color: $color-grey-FOUR;
              position: relative;
            }
            thead {
              th {
                font-weight: 600;
              }
            }
            tbody {
              font-size: $small-font-size;
            }

            &__toolbar {
              padding-left: 2rem;
              padding-right: 1rem;
              &--highlight {
                color: $color-danger;
                background-color: rgba(245, 0, 87, 0.08);
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              .table-title {
                flex: 1 1 100%;
              }
            }
            &__new-access {
              button {
                padding: 0 !important;
              }
            }
          }
        }

    }

    &--details {
      width: 20%;
      line-height: 2.5rem;
    }
  }
}

.action-button {
  padding: 0 !important;
}
