//volvogroup-masdcl.pkgs.visualstudio.com/VFSAPIEventOffice/_packaging/vfs-data-portal/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//volvogroup-masdcl.pkgs.visualstudio.com/VFSAPIEventOffice/_packaging/vfs-data-portal/npm/registry/:_password=YzNoY2hqZmM1dTducmNxaXA1dml6ZXpjanl1aGYyeTN3cWNkaTZiNGZ0ZGllc28ycmFqYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//volvogroup-masdcl.pkgs.visualstudio.com/VFSAPIEventOffice/_packaging/vfs-data-portal/npm/registry/:email=not-used@example.com
