// COLORS
$color-white: #ffffff;
$color-grey-dark: #777777;
$color-primary-blue: #404360;
$color-green: #8FC54E;
$color-background: #F7F6FB;
$color-danger: #f50057;

// FONTS
$x-small-font-size: 1.1rem;
$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$large-font-size: 2rem;
$x-large-font-size: 3.2rem;
