// COLORS
$color-white: #ffffff;
$color-grey-one: #E1DFDD;
$color-grey-two: #A7ABA9;
$color-grey-FOUR: #4D4E53;
$color-dark-blue: #202A44;
$color-volvo-blue: #182971;
$color-leaf-two: #8FC54E;
$color-leaf-four: #78B833;
$color-warning: #F7D302;
$color-danger: #C4001A;
$color-flower-four: #C3D2D6;
$color-teal-three: #66B3A6;
$color-data-portal: #F7F8FC;
// FONTS
$x-small-font-size: 1.2rem;
$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$large-font-size: 2rem;
$x-large-font-size: 2.5rem;
