// COLORS
$color-white: #ffffff;
$color-grey-FOUR: #4D4E53;
$color-dark-blue: #202A44;
$color-leaf-two: #8FC54E;
$color-background: #F7F6FB;
$color-danger: #C4001A;
$color-flower-four: #C3D2D6;

// FONTS
$x-small-font-size: 1.2rem;
$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$large-font-size: 2rem;
$x-large-font-size: 3.2rem;
