*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5% !important;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: $color-grey-FOUR;
}

.dac-library {
  width: 100%;
  height: 100%;
}

input {
  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
}
