.heading-primary {
  font-weight: 700;
  font-size: $x-large-font-size;
}

.heading-secondary {
  @extend .u-letter-spacing;
  text-transform: uppercase;
}

.heading-tertiary {
  font-weight: 400;
  font-size: $large-font-size;
}
